<p id="notice"><%= notice %></p>
<h1>Restaurants</h1>

<table class="listing" summary="Restaurants">
    <tr class="header">
      <th> Name </th>
      <th> Cuisine </th>
      <th> Accepts 10Bis </th>
    </tr>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant[:name]%> </td>
        <td><%= restaurant[:cuisine] %></td>
        <td><%= restaurant[:accepts_ten_bis] %></td>
        <td class="actions">
          <%= link_to 'Show', restaurant %>
          <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
          <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>